<%- include('partials/header')%>

<div class="jumbotron jumbotron-fluid" style="margin-bottom: 400px; background-color: #dcdde1;">
  <div class="container" >
    <h1 class="display-4" style="text-align: center">About Me</h1>
    <hr>
    <h3 class="lead" style="text-align: left"><%=aboutP1%></h3>
    &nbsp;
    <h3 class="lead" style="text-align: left"><%=aboutP2%></h3>
    &nbsp;
    <h3 class="lead" style="text-align: left"><%=aboutP3%></h3>
  </div>
</div>

<%- include('partials/footer')%>

