<%- include('partials/header');%>

        <div class="row">
            <div class="head animated pulse">
                <h1>Omar J Lozoya</h1>
                <h2 style="color: #8c7ae6"><em>Software Engineer/Full-Stack Developer</em></h2>
                <p>I have a passion for software development and building web applications. I also love to drink coffee and play electric guitar.
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <h3>Skills</h3>
            <div class="col-md-4">
                <h4>Front-end:</h4>
                <%front.forEach(item => {%>
                    <ul>
                        <li class="animated slideInLeft"><%=item%></li>
                    </ul>
                <%})%>
            </div>
            <div class="col-md-4">
                <h4>Back-end:</h4>
                <%back.forEach(item => {%>
                    <ul>
                        <li class="animated slideInLeft"><%=item%></li>
                    </ul>
                <%})%>
            </div>
            <div class="col-md-4">
                <h4>Source Control:</h4>
                <%source.forEach(item => {%>
                    <ul>
                        <li class="animated slideInLeft"><%=item%></li>
                    </ul>
                <%})%>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3>Projects</h3>
            <div class="features-boxed" style="background-color: #477EB0;">
                <div class="container">
                    <div class="row justify-content-center features">
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>Requiren</h4>
                                <p>A one-of-a-kind e-commerce website.
                                </p>
                                <a href="https://requiren.herokuapp.com/">Visit Site</a>
                                <div class="box2"><iframe src="https://requiren.herokuapp.com/" width="350px"
                                        height="400px" style="margin-left: -25px"></iframe></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>To-Do List Application</h4>
                                <p>A personal project. Deployed with Heroku and data is persisted with MondoDB Atlas.
                                </p>
                                <a href="https://omarjlozoya-todolist.herokuapp.com/">Visit Site</a>
                                <div class="box2"><iframe src="https://omarjlozoya-todolist.herokuapp.com/"
                                        width="350px" height="400px" style="margin-left: -25px"></iframe></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>My Newsletter</h4>
                                <p>My personal newsletter. Website is live deployed using heroku.
                                </p>
                                <a href="https://omarjlozoyanewsletter.herokuapp.com/">Visit Site</a>
                                <div class="box2"><iframe src="https://omarjlozoyanewsletter.herokuapp.com/"
                                        width="350px" height="400px" style="margin-left: -25px"></iframe></div>
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>Video Search Web Application</h4>
                                <p>Currently working on a React web application that displays youtube videos that are searched using a search bar.
                                </p>
                                <a href="https://github.com/omarlozoya/videoSearchApp">Visit GitHub</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>Weather Web Application</h4>
                                <p>A web weather application that displays either a sunny or snowy page depending on the temperature of the users current location.
                                </p>
                                <a href="https://github.com/omarlozoya/weatherWebApp">Visit GitHub</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>Wiki RESTFUL API</h4>
                                <p>A simple restful api application replicating the wikipedia website.
                                </p>
                                <a href="https://github.com/omarlozoya/wikiAPIProject">Visit GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">
            <h3>Education</h3>
            <div class="container">
                <h4><strong>Arizona State University, Ira A. Fulton Schools of Engineering 2015-2019</strong></h4>
                <p style="color: #8c7ae6"><em>Bachelor of Science in Computer Science (Software Engineering) (BS)</em></p>
            </div>
            <hr>
        </div>

<%- include('partials/footer');%>