<%- include('partials/header');%>

        <div class="row">
            <div class="head">
                <h1>Omar J Lozoya</h1>
                <h2><em>Full Stack Web Developer/Software Engineer</em></h2>
                <p>I have a passion for software development and building web applications. I also love to drink coffee and play electric guitar.
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <h3>Skills</h3>
            <div class="col-md-3">
                <h4>Front-end:</h4>
                <%front.forEach(item => {%>
                    <ul>
                        <li><%=item%></li>
                    </ul>
                <%})%>
            </div>
            <div class="col-md-3">
                <h4>Back-end:</h4>
                <%back.forEach(item => {%>
                    <ul>
                        <li><%=item%></li>
                    </ul>
                <%})%>
            </div>
            <div class="col-md-3">
                <h4>Frameworks:</h4>
                <%frame.forEach(item => {%>
                    <ul>
                        <li><%=item%></li>
                    </ul>
                <%})%>
            </div>
            <div class="col-md-3">
                <h4>Source Control:</h4>
                <%source.forEach(item => {%>
                    <ul>
                        <li><%=item%></li>
                    </ul>
                <%})%>
            </div>
        </div>
        <hr>
        <div class="row">
            <h3>Projects</h3>
            <div class="features-boxed">
                <div class="container">
                    <div class="row justify-content-center features">
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>Requiren</h4>
                                <p>A one-of-a-kind e-commerce website.
                                </p>
                                <a href="https://requiren.herokuapp.com/">Visit Site</a>
                                <div class="box2"><iframe src="https://requiren.herokuapp.com/" width="350px"
                                        height="400px" style="margin-left: -25px"></iframe></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>Blog Website</h4>
                                <p>My personal blog application. Currently implementing a DB for it.
                                </p>
                                <a href="https://omar-open-blog.herokuapp.com/">Visit Site</a>
                                <div class="box2"><iframe src="https://omar-open-blog.herokuapp.com/" width="350px" height="400px"
                                        style="margin-left: -25px"></iframe></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>Simon Game</h4>
                                <p>Re-implementation of the famous game Simon. Fun web app version of Simon.
                                </p>
                                <a href="https://omarlozoya.github.io/SimonGame/">Visit Site</a>
                                <div class="box2"><iframe src="https://omarlozoya.github.io/SimonGame/" width="350px"
                                        height="400px" style="margin-left: -25px"></iframe></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>My Newsletter</h4>
                                <p>My personal newsletter. Website is live deployed using heroku.
                                </p>
                                <a href="https://omarjlozoyanewsletter.herokuapp.com/">Visit Site</a>
                                <div class="box2"><iframe src="https://omarjlozoyanewsletter.herokuapp.com/"
                                        width="350px" height="400px" style="margin-left: -25px"></iframe></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 item">
                            <div class="box">
                                <h4>To-Do List Application</h4>
                                <p>A personal project. Deployed with Heroku and integrated DB with MondoDB Atlas.
                                </p>
                                <a href="https://omarjlozoya-todolist.herokuapp.com/">Visit Site</a>
                                <div class="box2"><iframe src="https://omarjlozoya-todolist.herokuapp.com/"
                                        width="350px" height="400px" style="margin-left: -25px"></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">
            <h3>Education</h3>
            <div class="container">
                <h4><strong>Arizona State University, Ira A. Fulton Schools of Engineering</strong></h4>
                <p><em>Bachelor of Science in Computer Science (Software Engineering) (BS)</em></p>
                <ul>
                    <li style="font-family: 'Montserrat', sans-serif;">Expected Graduation Date: May 2019</li>
                </ul>
            </div>
            <hr>
        </div>

<%- include('partials/footer');%>